<div
  class="h-screen grid grid-rows-mainLayout bg-[url('assets/background.webp')] bg-cover"
>
  <app-glass-card>
    <router-outlet></router-outlet>
  </app-glass-card>

  <footer class="place-self-center py-4 opacity-50 text-white">
    Photo by
    <a
      class="underline"
      href="https://unsplash.com/@marekpiwnicki?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Marek Piwnicki</a
    >
    on
    <a
      class="underline"
      href="https://unsplash.com/t/wallpapers?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Unsplash</a
    >
  </footer>
</div>
